#fullcontainer {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.line {
    height: 2px;
    border: solid 1px #979797;
}




#banner-img-container {
    display: block;
    position: relative;
    width: 100%;
    height: 17.2%;
    text-align: left;
    vertical-align: top;
    margin: 0px 0px 80px 0px;
}


#banner-img-container2 {
    display: block;
    position: absolute;
    float: left;
  width: 22.2%;
  top:28.6%;
  left:38.9%;
 
}


#banner-in-text
{

  font-family: NotoSansCJKkr;
  font-size: 48rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2.4px;
  text-align: center;
  color: #ffffff;
   display: block;
    position: absolute;
    float: left;
    width:100%;
  top:63.7%;
  left:0%;
}




#serviceintro-container-first{

    display: block;
    position: relative;
        width: 79.2%;
        max-width: 1140px;
        height: auto;
        margin: 0 auto;

}

#serviceintro-img-container-first {
    display: inline-block;
    position: relative;
        width: 52.63%;
        max-width: 600px;
        height: auto;
        margin: 0% 2.8% 0% 0%;
        vertical-align: top;

}

#serviceintro-text-container-first
{
    display: inline-block;
    position: relative;
        width: 43.86%;
        max-width: 500px;
        height: auto;
        margin: 0% 0% 0% 0%;
   
}

.line2 {
     display: inline-block;
    position: absolute;
    width: 24.7%;
    height: 2px;
    border: solid 1px #000000;
    top:7.5%;
    left:37.6%;
}

#serviceintro-text-container-first-title
{
    display: inline-block;
    position: relative;
        width: 92.4%;
        height: auto;
        margin: 18% 0% 0% 7.6%;
   
}


.detail-title {
    font-family: NotoSansCJKkr;
    font-size: 30rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.5px;
    text-align: left;
    color: #000000;
}


#serviceintro-text-container-first-context
{
    display: inline-block;
    position: relative;
        width: 84%;
        height: auto;
        margin: 8% 0% 0% 8.4%;
   
}

.detail-context{
  width: 100%;

  font-family: NotoSansCJKkr;
  font-size: 18px;
  letter-spacing: -0.9px;
  text-align: justify;
  color: #000000;
}

#serviceintro-container-second{

    display: block;
    position: relative;
        width: 79.2%;
        max-width: 1140px;
        height: auto;
        margin: 40px auto;

}


#serviceintro-container-icon{

    display: block;
    position: relative;
        width: 83.4%;
        max-width: 1200px;
        height: auto;
        margin: 0px auto 50px auto;
         vertical-align: top;


}

#serviceintro-container-icon-detail{

    display: inline-block;
    position: relative;
        width: 33%;
        max-width: 400px;
        height: auto;
        vertical-align: top;


}

#serviceintro-container-icon-detail-first{

    display: inline-block;
    position: relative;
        width: 75%;
        height: auto;
        margin: 5.4% 0% 0% 12.5%;
        vertical-align: top;

}
#serviceintro-container-icon-detail-first-in{

    display: inline-block;
    position: relative;
        width: 94.7%;
        height: auto;
        top: 21%;
        left: 2.7%;
         vertical-align: top;

}
.icon-detail-size{

    margin: 21% 0%;
     vertical-align: top;

}
#serviceintro-container-icon-detail-second{

    display: inline-block;
    position: relative;
        width: 100%;
        height: auto;
        margin: 0% 0% 6.5% 0%;
        text-align: center;
         vertical-align: top;


}

#serviceintro-container-icon-detail-third{

    display: block;
    position: relative;
        width: 75%;
        height: auto;
        margin: 0% auto;
         vertical-align: top;

}

.icon-detail-context1
{
  width: 100%;

  font-family: NotoSansCJKkr;
  font-size: 30rem;
  letter-spacing: -1.5px;
  text-align: center;
  color: #4fb9ab;
  text-decoration: underline;
  margin: 0% 0% 6.5% 0%;
   vertical-align: top;

}

.icon-detail-context2 
{
  width: 100%;

  font-family: NotoSansCJKkr;
  font-size: 18rem;
  letter-spacing: -0.9px;
  text-align: justify;
  color: #000000;
   vertical-align: top;

}

#serviceintro-container-contactus{

    display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin: 50px 0px 60px 0px;
         vertical-align: top;

}

.contactus-detail-context1 
{
   
  width: 100%;
   font-family: NotoSansCJKkr;
  font-size: 30rem;
  letter-spacing: -1.5px;
  text-align: center;
  color: #000000;
   text-decoration: underline;
    vertical-align: top;

}



#contactus-info{

    display: block;
        position: relative;
        width: 79.2%;
        max-width: 1440px;
        height: auto;
        vertical-align: top;
        text-align: left;
         
         margin: 40px auto;


}



.contactus-detail-context2
{
  width: 83.3%;
  max-width: 1440px;
  font-family: NotoSansCJKkr;
  font-size: 24rem;
  letter-spacing: -1.2px;
  color: #0e0e0e;
  
  
}

#googlemaps {
    width: 79.2%;
    height: 400px;
    margin: 0 auto;
}

@media screen and (max-device-width: 767px) {

    #serviceintro-img-container-first {
    display: inline-block;
    position: relative;
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 0% auto;
        vertical-align: top;

    }

    #serviceintro-text-container-first{
    display: inline-block;
    position: relative;
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 0% auto;
        vertical-align: top;

   
    }

    #serviceintro-container-icon-detail{

    display: inline-block;
    position: relative;
        width: 100%;
        max-width: 600px;
        height: auto;
        vertical-align: top;


    }

    #serviceintro-container-info{

        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin: 50px 0px 60px 0px;
         vertical-align: top;

    }


    #googlemaps {
        width: 100%;
        height: 300px;
    }


}
