@font-face{font-family:'NotoSansCJKkr'; src:url('../font/NotoSansKR-Regular.otf')}

#fullcontainer {
    margin: 72px auto;
    text-align: center;
    max-width: 1200px;
}

#container-ordercomp {
  text-align: center;
}

#completed-img {
  margin-top: 32px;
  width: 128px;
  height: 128px;
  object-fit: contain;
}

.completed-text {
  margin-top: 40px;
  font-family: 'NotoSansCJKkr';
  font-size: 24px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  text-align: center;
  margin-bottom: 40px;
}

#go-mainpage {
  width: 240px;
  height: 48px;
  border: solid 1px #9b9b9b;
}

.main-text {
  margin-top: 9px;
  margin-bottom: 12px;
  margin-left: 37px;
  margin-right: 36px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #9b9b9b;
  font-family: 'NotoSansCJKkr';
}

#go-mypage {
  margin-left: 8px;
  width: 240px;
  height: 48px;
  background-color: #9b9b9b;
}

.mypage-text {
  margin-top: 9px;
  margin-bottom: 12px;
  margin-left: 25px;
  margin-right: 30px;
 font-family: 'NotoSansCJKkr';
 font-size: 18px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 color: #ffffff;
}
