#completed-container {
    width: 34%;
    min-width: 500px;
    margin: 70px auto;
    text-align: center;
}

#ic-completed {
    width: 128px;
    height: 128px;
    margin: 43px auto 0 auto;
}

#completed-text {
    font-family: NotoSansCJKkr;
    font-size: 24rem;
    letter-spacing: -1.2px;
    text-align: center;
    color: #000000;
    margin: 40px auto;
}

#btn-container {
    width: 100%;
}

#btn-main, #btn-mypage {
    display: inline-block;
    width: 240px;
    height: 48px;
    margin: 0 4px;
}


@media screen and (max-device-width: 767px) {
    #completed-container {
        width: 100%;
        min-width: unset;
        margin: 70px auto;
        text-align: center;
    }

    #btn-main, #btn-mypage {
        margin: 10px 4px;
    }
}